DB_URL="URL_AQUI"

APP_PORT=5011

NODE_ENV=development

# Nível de log (error, warn, info, verbose, debug, silly)
LOG_LEVEL=info
# Limite de tamanho total dos logs em GB
LOG_MAX_SIZE_GB=50
# Ativar ou desativar o sistema de logs (true ou false)
LOG_ENABLED=false
# Variável para ativar ou desativar logs detalhados (debug)
DEBUGLOG=true

# JWT (JSON Web Token) Configurações
JWT_SECRET_ACCESS_TOKEN="TOKEN_AQUI"
JWT_SECRET_REFRESH_TOKEN="TOKEN_AQUI"
JWT_SECRET_PASSWORD_RECOVERY="TOKEN_AQUI"
JWT_ACCESS_TOKEN_EXPIRATION="15m"
JWT_REFRESH_TOKEN_EXPIRATION="7d"
# O JWT Refresh Token só é concedido, se não estiver vencido, no /login. Em /refresh, apenas se esse valor for true.
SINGLE_SESSION_REFRESH_TOKEN=false
